{
  "version": "@@VERSION@@",
  "description": "@@DESCRIPTION@@",
  "homepage": "@@HOMEPAGE@@",
  "license": "MIT OR Apache-2.0",
  "architecture": {
    "64bit": {
      "url": "@@ARCHIVE_URL@@",
      "hash": "@@SHA256@@"
    }
  },
  "bin": [
    "thegn.exe",
    [
      "thegn.exe",
      "tg.exe"
    ]
  ]
}
